* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0; 
     font-family:Rubik;
   
}
@font-face {
    font-family:Rubik;
    src: url(../fonts/Rubik-Light.ttf);
}
.element {
  perspective: 200px;
  display: inline-block;
  width: 200px;
  height: 60px;
}

.element:before {
  border: 1px solid;
  transform: rotateX(40deg);
  transform-origin: 50% 100%;
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
}

.element__text {
  padding: 30px 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
}
#preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000 url(http://hello-site.ru//main/images/preloads/tail-spin.svg) center center no-repeat;
    background-size:41px;
}

.limitations, .succes, .how-to-fix, .theTask {
  width: 75%;
}
.center {
    margin: 0 auto;
}
.limitations, .succes, .how-to-fix, .theTask {
    display: none;  
}
.select{
    display: flex;
    align-items: center
}
p {
    color: #fff;
}
main {
     width: 100%;
   min-height: 100vh;
    background: url(../img/ofis.jpg) no-repeat ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    background-attachment:fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
select {
       width: 30%;
    height: 40px;
   margin-bottom: 15px;
    color: #D1D5D6; 
    border-radius: 3px;
    padding-left: 15px;
    background-color: rgba(139, 145, 150, 0.22);
    border: 1px solid rgba(139, 145, 150, 0.1);
    font-size: 14px;
    margin-right: 20px;
}
select option {
  background-color: rgba(139, 145, 150,1);    
}
select option:hover {
  color: #D1D5D6; 
    background: #16a085;
}
select:focus {
    color: #D1D5D6;
    outline-color: #16a085;
}
button {
    cursor: pointer;
     border: 1px solid rgba(139, 145, 150, 0.1);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom: 15px;
    font-size: 18px;
    width: 30%;
    max-width: 1346px;
    height: 40px;
   color: #D1D5D6; 
    background: #16a085;
    transition: 0.5s;
}
button:hover {
   background: #1b6d5b; 
}
input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    color: #D1D5D6; 
    border-radius: 3px;
    padding-left: 15px;
    background-color: rgba(139, 145, 150, 0.22);
    border: 1px solid rgba(139, 145, 150, 0.1);
    font-size: 14px;
}
input:focus {
    color: #D1D5D6;
    outline-color: #16a085;
}
h1 {
    color: #e8e8e8;
    font-size:3vw;
    text-transform:uppercase;
    text-align:  center;
    margin-bottom: 20px;
    
 

}
.question {
   color: #e8e8e8;
    font-size: 2vw;
   text-transform:uppercase;
    text-align:  center;
    margin-bottom: 20px;
   
}
.quest{
      color: #e8e8e8;
    font-size: 2vw;
   text-transform:uppercase;
    text-align:  center;
    margin-bottom: 20px;
}
.timer {
    width: 4%;
        color: #e8e8e8;
    font-size: 2vw;
   text-transform:uppercase;

    position: absolute;
    top: 1%;
    right: 1%;
}
.bottom {
    margin-top: 40px;
}








































